:root  /* default bg color */
{
    --primary-color:#e50914;
    --dark-color:#141414;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    font-family: Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    background-color: black;
    color: #999;
}

ul  /* changing default settings */
{
    list-style-type: none; /* changing default settings */
}

h1,h2,h3,h4 /* default heading color */
{
    color: white;
}

a   /* changing link settings */
{
    color: white;
    text-decoration: none;
}

p
{
    margin: 0.5rem 0;
}

img
{
    width: 100%;
}

.showcase{       /* first page settings */
    width: 100%;
    height: 100vh;   /* height of the front page (bg img) */
    position: relative;
    background: url('../images/background.jpg') no-repeat center center/cover;

}

.showcase::after /* for black border shadow */
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6); /* rgba=transparent color (0.6) */
    box-shadow: inset 120px 100px 250px black,inset -120px -100px 250px black; /* box shadow */
}

.showcase-top
{
    position: relative;
    height: 90px;
    z-index: 2; /* to bring text above black overlay */

}

.showcase-top img
{
    width: 170px;    /* size of the netflix logo */
    position: absolute;
    top:50%;   /* 50% of height(90px) */
    left: 50%;  /* center of web page */
    transform: translate(-50%,-50%);  /* repositions netflix logo */
}

.showcase-top a
{
    position: absolute;
    top: 50%;
    right: 0%;  /* sign in button */
    transform: translate(-50%,-50%);
}

.showcase-content
{
    position: relative;
    margin:auto;
    display: flex;
    flex-direction: column; /* by default:row, we need in separate lines*/
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;  /* to bring text above black overlay */
    margin-top: 9rem; /* to shift more below */
}

.showcase-content h1 /* "see what's next" heading */
{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin:0 0 2rem; /* only bottom margin */

}

.showcase-content p  /* WATCH ANYWHERE. CANCEL ANYTIME */
{
    text-transform: uppercase;
    color:white ;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin:0 0 2rem;

}

/* Tabs */

.tabs /* for second page header */
{
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container /* container class for grid */
{
    display: grid;
    grid-template-columns: repeat(3,1fr);  /* 3 equal cols (1fr= fraction unit */
    grid-gap:1rem;      /* for gap in between grid */
    align-items: center;
    justify-content: center;
    text-align: center;

}

.tabs p
{
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container>div /* to add on each div in tab container */
{
    padding:1.5rem;
}

.tabs .container>div:hover  /* to add on each div in tab container */
{
    color: white;
    cursor: pointer;
}

/* Containers */

.container /* to maintain symmetry in all containers  */
{
    max-width: 70%;   /* bring icons closer and in center */
    margin: auto;
    overflow: hidden;
    padding: 0  1rem ;
}

.tab-border  /* red border below container header */
{
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab content */

.tab-content
{
    padding :3rem 0;
    color: white;
    background-color: black;
}

#tab-1-content .tab-1-content-inner
{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-top
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:1rem;
    
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom
{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2rem;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* //Hide initially */

#tab-1-content,
#tab-2-content,
#tab-3-content
{
    display: none;
}

.show
{
    display: block !important;
}
.table
{
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th
{
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td
{
    color:#999;
    padding:0.8rem 1.2rem;
    text-align: center;
}

.table tbody tr td:first-child
{
    text-align: left;
}

.table tbody tr:nth-child(odd)
{
    background-color: #222;
}

/* Footer */

.footer
{
    max-width: 75%;
    margin:1rem auto;
    overflow: auto;
}

.footer,.footer a
{
    color:#999;
    font-size: 0.9rem;
}

.footer p
{
    color:#999;
    margin-bottom: 1.5rem;
}

.footer .footer-cols
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:2rem;
}

.footer li
{
    line-height: 1.9;
}

/*Buttons*/

.btn
{
    display: inline-block;
    background-color: var(--primary-color);     /* defined above */
    color: white;
    padding: 0.4rem 1.3rem;
    text-align: center;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);   /* black border:hover */
    border-radius: 2px;     /* curved edges */
}

.btn:hover
{
    opacity: 0.9;
}
.btn-rounded
{
    border-radius:5px;
}

.btn-xl
{
    font-weight: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg
{
    font-weight: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-icon
{
    margin-left: 1rem;
}

.text-xl
{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg
{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md
{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center
{
    text-align: center;
}

.text-dark
{
    color:#999;
}

@media (max-width:960px)
{
    .showcase
    {
        height: 70vh;
    }

    .hide-sm
    {
        display: none;
    }

    .showcase-top img
    {
        top:30%;
        left:5%;
        transform: translate(0);
    }

    .showcase-content h1
    {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p
    {
        font-size: 1.5rem;
        
    }

    .footer .footer-cols
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .btn-xl
    {
        font-size: 1.5rem;
        padding:1.4rem 2rem;

    }

    .text-xl
    {
        font-size:1.5rem;
    }

    .text-lg
    {
        font-size:1.3rem;
    }
    .text-md
    {
        font-size:1rem;
    }
}

@media(max-width:700px)
{
    .showcase::after
    {
        background-color: rgba(0,0,0,0.6);
        box-shadow: inset 80px 80px 250px black,-80px -80px 250px black;
    }

    #tab-1-content .tab-1-content-inner
    {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content .tab-2-content-top
    {
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom
    {
        grid-template-columns: 1fr;
    }
}